<!-- src/app/components/footer/footer.component.html -->
<footer class="footer">
  <div class="newsletter">
    <h2>Sign Up For Newsletters</h2>
    <p>Be the First to Know. Sign up for newsletter today</p>
    <div class="subscribe">
      <input
        type="email"
        placeholder="Enter Your Email Address..."
      />
      <button (click)="subscribe()">Subscribe!</button>
    </div>
  </div>
  
  <div class="footer-content">
    <div class="footer-left">
      <img src="../../../assets/satvik logo.png" alt="Satvikk Logo" class="logo" />
      <p>
        SATVIKK E-COMMERCE PRIVATE LIMITED offers you a wide range of spices,
        dry fruits, and nuts etc.
      </p>
         
      <div class="payments">
        <h4>Payment:</h4>
        <img src="../../../assets/pay skrill.jpeg" alt="Skrill" />
        <img src="../../../assets/pay visa.png" alt="Visa" />
        <img src="../../../assets/payment mastercard1.png" alt="Mastercard" />
        <img src="../../../assets/pay paypal.png" alt="PayPal" />
      </div>
    </div>

    <div class="footer-links">
      <h4>Information</h4>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Return & Refund Policy</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Contact Us</h4>
      <p>
        <strong>Address:</strong>#5,Siddhi complex, Near APMC 4th gate,<br />
        Yeshwantpur,Bangalore,Karnataka-560022
      </p>
       <p><strong>Email:</strong>info{{'@satvikk'}}.com</p> 
      <p><strong>Call us:</strong> (+91)9035307000</p>
    </div>
    <div class="footer-social">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><img src="../../../assets/facebook logo.png" alt="Facebook" /></a>
        <a href="#"><img src="../../../assets/instagram logo.jpg" alt="Instagram" /></a>
        <a href="#"><img src="../../../assets/twitter logo.png" alt="Twitter" /></a>
      </div>
    </div>
  </div>
     
  <div class="footer-bottom">
    <p>
      Copyright © 2023, SATVIKK E-COMMERCE PRIVATE LIMITED.
      All rights reserved. | Designed by <span>Matrix Bricks</span>
    </p>
  </div>
</footer>
