
.cart-container {
  padding: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item img {
  margin-right: 15px;
  border-radius: 10px;
}

.cart-total {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

button {
  margin-left: auto;
  background: red;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
